*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
/* QUI INIZIA L' HEADER */
/* immagine e colore sfondo */
.sfondo_logo{
    background-color: rgba(78,160,255,1);
    background-image: url(../img/pattern.png);
    height: 18vh;
    position: relative;
}
/* dimensione e posizione logo "The Booleaner" */
#logo{
    height: 8vh;
    position: absolute;
    bottom: 0;
    left: 1vw;
}
/* dimensione titolo */
#titolo{
    font-size: 4vw;
}
/* dimensione e colore sottotitolo */
#titolo_h3{
    font-size: 2vw;
    color: grey;
}
/* link sottotitolo rimozione sottolineatura */
#link_h3{
    text-decoration: none;
}
/* data pubblicazione articolo */
#data{
    font-size: 1.4vw;
    color: grey;
}

/* QUI INIZIA IL MAIN */

.immagini_tim{
    width: 45vw;
    height: 60vh;
}

.paragrafo{
    font-size: 1.5vw;
    margin-top: 5vh;
}

.evidenziatore{
    background-color: yellow;
}

.lista{
    padding-left: 1vw;
    margin-top: 5vh;
}

.testo_lista{
    font-size: 1vw;
    font-style: bold;
}